.anniversary-container{
    padding: 8px;
    margin-left: 16px;
    background: #fff;
    border-radius:4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
    font-size: .875rem;
    flex-basis: 75%;
    max-width: 75%;
    min-width: 75%;
    width: 75%;
}
.anniversary{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 4px;
    margin: 0 auto;
}
.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.title h2:nth-child(1) {
text-transform: capitalize;
}
.title h4{
    cursor: pointer;
}
@media screen and (max-width:780px){
    .anniversary-container{
        overflow:hidden;
        flex-wrap:wrap;
        width:100%;
        min-width:100%;
        margin-left:0;
        background:transparent;
    }
}