.all-products{
    overflow: hidden;
    display:flex;
    margin: 16px 0;
   flex-direction: column;
   background: #fff;
   width:100%;
   max-width:1148px;
}
.all-products h2{
    font-size: 1.2rem;
    font-weight: 500;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 8px;
    background-color: #E2F5FF;
  
}
.all-products-container{
    display:flex;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    overflow: hidden;

}
@media screen and (max-width:780px){
    .all-products-container{
        width:100vw;
        min-width:100vw;
        overflow-x: auto;
    }
}
