.header{
 overflow: visible;
   
}
.ad {
    width: 100%;

    cursor: pointer;
    max-width: 1184px;
    margin: 0 auto;
    object-fit: contain;
     position: -webkit-sticky; 
position: sticky;
flex-direction: column;
z-index: 1010;
top: 0;
}
.ad img {
    max-width: 100%;
    
    object-fit: cover;
}
.icons{
    margin:0 auto;
    display: flex;
    height: auto;
    width: 100%;
    justify-content:center;
    display: none;
}
.nav-container{
    overflow: visible;
 /* height: 72px; */
background: #fff;
display: flex;
align-items: center;
justify-content:center;
width: 100vw;
position: -webkit-sticky; 
position: sticky;
flex-direction: column;
z-index: 100;
top: 0px;
box-shadow: 0 4px 4px -4px rgba(0,0,0,0.12);
padding: 16px;
}

.nav-container-stick{
    position: absolute;
}
.nav {
   width: 100%;
   max-width: 1148px;
   margin: 0 0;
display: flex;
align-items: center;
 
}
   
.nav>* {
    margin: 0 1rem;
    
}
.nav>div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
   
}
.nav button {
     display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;   
    cursor: pointer;
}

.nav>div:hover .text,

.nav>div:hover,
.nav>div:hover .svg-icon,
.nav>div button:hover {
    stroke: #f68b1e;
    color: #f68b1e;
    fill: #f68b1e;
    border: none;
    outline: none;
}
.nav>div>span {
    margin: 0 0 0 8px;
    text-transform: capitalize;
     font-weight: 500;
}

.nav form {
    display: flex;
    flex-grow: 1;
    
}
.nav form>div {
    border:1px solid #c7c7cd;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav input{
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    padding: 1px;
    border: none;
    outline: none;
    vertical-align: middle;
}

.nav button.search-btn-icon{
    margin: auto 8px;
    font-size: .875rem;
}

.login {
    flex-direction: column;
    position: relative;
}
/* cart */
.cart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cart-icon a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    display: block;
    
}
.cart-icon .icon {
    vertical-align: middle;
}
.cart-number {
    position: absolute;
    /* top: -2px;
    left: 12px; */
    top: -6%;
    left:22%;
    font-size: 0.625rem;
    font-weight: 700;
    background-color: #f68b1e;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    max-height:20px;
    max-width: 20px;
   
    
}
/* end cart */
 

@media screen and (min-width:780px){
    .ad {
        height: 4rem;
        object-fit: cover;
    }
    .ad img {
         flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    width: 100%;
    height: 100%;
    height: 4rem;
    object-fit: cover;
    
}
    
    .icons{
        display: flex;
    }
    .search-input{
        display: none;
    }
    
    

}
@media screen and (max-width:780px){
    

     .ad {
        height: 2.5rem;
        object-fit: cover;
    }
    .ad img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    width: 100%;
    height: 100%;
    height: 2.5rem;
    object-fit: fill;
    
}
    
    .nav>form{
        display: none;
    }
    .text,
    .help-arrow,
    .help .svg-icon
    {
        display: none;
    }
.nav-container{
    height: auto;
    padding: 8px;
}
    .search-input{
    display: block;
    margin: 0 8px;
   border: 1px solid #c7c7cd;
   overflow: hidden;
   border-radius: 99px;
   height: 32px;
   padding: 0 8px;
   margin: 0 4px;
   display: flex;
   align-items: center;
   margin: 16px 4px 4px 4px;
   width: calc(100% - 16px);
}
.search-input input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}
.search-input button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* cart icon */
.cart-number{
         top: -32%;
    left:46%;
    }

}