.product{
    padding: 8px 8px;
    flex-shrink: 0;
    font-size: .875rem;
    cursor: pointer;
    color: #282828;
    margin: 2px;
    line-height: 1;
    overflow: hidden;
    border-radius: 4px;
    text-overflow: ellipsis;
    width: calc(16.666666666% - 4px ) ;
    position: relative;
}
.product img {
    height: auto;
    width: 100%;
    object-fit: contain;
}
.product img {
    height: auto;
    width: 100%;
    object-fit: contain;
}
.product:hover {
     box-shadow: 2px 5px 10px rgba(0,0,0,.2);
    transform: scale(1.03);
}
.product:hover img{
    
   
}
.name {
    font-size: .75rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    font-weight: 400;
}

 .price {
    font-size: .875rem;
    text-align: left;
    font-weight: 500;
    padding: 8px 0;
    
}
.old-price{
    text-decoration: line-through;
    /* //margin-right:8px; */
    font-size: .875rem;
    text-align: left;
    font-weight: 500;
    padding: 8px 0;
}
.discount-container{
   position: absolute; 
   left: 75%;
   top: 7.5%;
}
.discount{
    position: absolute;
    padding: 8px;
    z-index: 1;
    
border-radius: 2px;
display: inline-flex;
justify-content: center;
align-items: center;
font-weight: 500;
line-height: 1.2;
background-color: #feefde;
color: #f68b1e;
min-width: 40px;
height: 24px;
padding-right: 4px;
padding-left: 4px;
font-size: .875rem;
position: absolute;

    
}
@media screen and (max-width:780px){
    .product{
        width:calc(45% - 8px);
        width:133px;
    }
}