.product{
    padding: 8px 8px;
    flex-shrink: 0;
    font-size: .875rem;
    cursor: pointer;
    color: #282828;
    margin: 2px;
    line-height: 1;
    overflow: hidden;
    border-radius: 4px;
    text-overflow: ellipsis;
    width: calc(16.666666666% - 4px ) ;
}
.product img {
    height: auto;
    width: 100%;
    object-fit: contain;
}
.product img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.name {
    font-size: .75rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    font-weight: 400;
}

 .price {
    font-size: .875rem;
    text-align: left;
    font-weight: 500;
    padding: 8px 0;
    
}
.old-price{
    text-decoration: line-through;
    /* //margin-right:8px; */
    font-size: .875rem;
    text-align: left;
    font-weight: 500;
    padding: 8px 0;
}


@media screen and (max-width:780px){
    .product{
        width:calc(45% - 8px);
        width:133px;
    }
}