.all-products{
    width: 100%;
    max-width: 1148px;
    overflow: hidden;
    display:flex;
    margin: 16px 0;
   flex-direction: column;
   background: #fff;
   padding: 0 24px;
   
}
.all-products h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-products-container{
    width: 100%;
    max-width: 1148px;
    display:flex;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    overflow: auto;
    text-align: center;
    
}

.scroll-left,.scroll-right{
    position: absolute;
    border: none;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(40,40,40,0.5);
    z-index: 20;
    cursor: pointer;
}
.scroll-left{
    transform:translateX(-23px) translateY(55px);
}
.scroll-right{
    transform:translateX(1084px) translateY(55px);

}
.all-products button:active{
    outline: none;
    border: none;
}
 .all-products button:focus {
    outline: none;
    border: none;
}
@media screen and (min-width:780px){
    .all-products-container{
        overflow-x: hidden;
    }
}

@media screen and (max-width:780px){
    .scroll-right,.scroll-left{
        display: none;
    }
}